@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Insurance GAP Test</h1>
        <p>Se han creado 3 diferentes componentes para la gestión de la tarea.</p>
        <p>Customers: CRUD para manejo de clientes</p>
        <p>Policy: CRUD para pólizas</p>
        <p>PolicyCustomers: CRUD para manejar las pólizas que tiene un cliente</p>
    </div>
