.iconHeader
{
    color: white;
}
.logo-negocio
{
  color: white;
  height: 15%;
  width: 15%;
}
#my-custom-menu {
    top: 8.8%;
    
}
#content_menu{
    --background: #404240;
    --offset-bottom: 0px;
   
}
.item_menu{
    --background: #404240;
    --color: white;
}
#header{
    height: 8.8%;
}
#toolbar{
    position: relative;
    height: 100%;
}

#toolbar_menu{
    --background:  #404240;
}

.list{  
    padding: 0px;
}
#titulo_lista{
    color: white;
}